
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/
/*el fondo de la pagina*/
body { 
    width: 100%;
    height: 100%;
    background: #D8CEAB;
  }
  
  /*el formulario + botones*/
  .form-register {
   
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 2px;
    font-family: 'Merienda One';
    color: #9E5344;
  
  }
  #lechuga {
    display: none;
  
  
  }
  #reloj {
    display: none;
  }
  #zanahoria {
    display: none;
  }
  #hamburguesa {
    display: none;
  
  }
  
  .form-register h4 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Bungee';
  }
  .form-register h5 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    height: 15%;
    background: #D9D9D9;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: 'Merienda One';
    font-size: 18px;
    color: black;
  }
  
  .form-control-file{
    font-size: 30px;
    margin-bottom: 5%;
  }

  .botons {
    width: 100%;
    background: #D9D9D9;
    border: none;
    padding: 12px;
    color: #9E5344;
  
    font-family: 'Bungee';
    font-size: 25px;
  }
  
  @media screen and (min-height: 1080px) and (min-width: 900px){
    .form-register {
   
      width: 50%;
    
    }
  
  }